WCFClientApplication/Service References/ServiceReference/www.Sometest.com1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="www.Sometest.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="www.Sometest.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="www.Sometest.com/Imports">
      <xsd:import namespace="www.Sometest.com" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICurrencyConv_GetRateByDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRateByDate" />
  </wsdl:message>
  <wsdl:message name="ICurrencyConv_GetRateByDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRateByDateResponse" />
  </wsdl:message>
  <wsdl:message name="ICurrencyConv_Convert_InputMessage">
    <wsdl:part name="parameters" element="tns:Convert" />
  </wsdl:message>
  <wsdl:message name="ICurrencyConv_Convert_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertResponse" />
  </wsdl:message>
  <wsdl:message name="ICurrencyConv_ExportToCSV_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportToCSV" />
  </wsdl:message>
  <wsdl:message name="ICurrencyConv_ExportToCSV_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportToCSVResponse" />
  </wsdl:message>
  <wsdl:portType name="ICurrencyConv">
    <wsdl:operation name="GetRateByDate">
      <wsdl:input wsaw:Action="www.Sometest.com/ICurrencyConv/GetRateByDate" message="tns:ICurrencyConv_GetRateByDate_InputMessage" />
      <wsdl:output wsaw:Action="www.Sometest.com/ICurrencyConv/GetRateByDateResponse" message="tns:ICurrencyConv_GetRateByDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Convert">
      <wsdl:input wsaw:Action="www.Sometest.com/ICurrencyConv/Convert" message="tns:ICurrencyConv_Convert_InputMessage" />
      <wsdl:output wsaw:Action="www.Sometest.com/ICurrencyConv/ConvertResponse" message="tns:ICurrencyConv_Convert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportToCSV">
      <wsdl:input wsaw:Action="www.Sometest.com/ICurrencyConv/ExportToCSV" message="tns:ICurrencyConv_ExportToCSV_InputMessage" />
      <wsdl:output wsaw:Action="www.Sometest.com/ICurrencyConv/ExportToCSVResponse" message="tns:ICurrencyConv_ExportToCSV_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>